streamlit
requests
opencv-python
Pillow
python-dotenv
openai
pandas
azure-identity
azure-storage-blob
setuptools 
wheel 
pygame
ipywidgets
matplotlib
openai
azure-identity
python-dotenv
isodate
tiktoken
moviepy>=1.0.3
pandas
tenacity